<div class="container">
    <form [formGroup]="form">
        <div class="row justify-content-center">
            <div class="col-xl-12">
                <div class="d-flex flex-column bd-highlight bg-color shadow p-3 mb-5 rounded">
                    <div class="p-2 bd-highlight">
                        <div class="d-flex flex-row bd-highlight mb-0 custom">
                            <div class="col-xl-10 px-5">
                                <input type="url" formControlName="urlbox" placeholder="Shorten Your URL" [ngClass]="{'p-2':true,'bd-highlight':true,'form-control':true,'px-5':true,'py-2':true}">
                            </div>
                            <div class="col-xl-2 p-2 bd-highlight"><button class="btn btn-primary px-5 py-2" (click)="listen()" [disabled]="short">Shorten</button></div>
                        </div>
                    </div>
                    <div class="p-2 bd-highlight">
                        <span *ngIf="invalidUrl"><p>!Please Provide Valid Url</p></span>
                    </div>
                    <div class="p-2 bd-highlight mb-2">
                        <span *ngIf="shortUrl.length>0"><a [href]="longUrl" target="_blank" (click)="trigger()">{{shortUrl}}</a></span>
                    </div>
                    <div class="bd-highlight">
                    </div>
                    <div class="p-2 bd-highlight">
                        <span *ngIf="shortUrl.length>0"><button [ngClass]="{'btn':true,'btn-primary':true,'px-5':true,'py-2':true}" (click)="clear()">Clear</button></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <p class="text-head">
                    Recently Created
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div *ngIf="links.length>0">
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let item of links">
                            <div class="col-xl-12">
                                <div class="p-2">
                                    <a [href]="item.longUrl" target="_blank" (click)="clickEvent(item)">{{"localhost:4200/p/"+item.shortUrl}}</a>
                                </div>
                                <div class="p-2">
                                    <p class="text1 shadow p-3 rounded">{{item.longUrl}}</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</div>