<div class="row justify-content-xl-center">
    <div class="col-xl-7 col-lg-7 col-md-12 content d-flex flex-column bd-highlight mb-3 custom-flex">
        <div class="p-2 bd-highlight">
            <p class="text1">Short links,big results</p>
        </div>
        <div class="p-2 bd-highlight">
            <p class="text2">A URL shortener built with powerful tools to help you grow and protect your brand.</p>
        </div>
        <div class="p-4 bd-highlight"><button class="btn btn-primary p-3" routerLink="Register">Get Started for Free</button></div>
    </div>
    <div class="col-xl-5 col-lg-5 col-md-12">
        <img class="custom-img img-fluid mt-4" src="assets/img/main.jpg">
    </div>
</div>