<div class="container">
    <div class="row topbar justify-content-xl-center">
        <div class="col-xl-2 col-lg-2 col-md-2 Icon">
            <a routerLink="">Short:Url</a>
        </div>
        <div class="col-xl-5 col-lg-5 col-md-6 center">
            <ul>
                <li><a routerLink="dash-board">Dashboard</a></li>
                <li><a routerLink="shorten">Create Short Url</a></li>
                <li><a routerLink="p">List Url's</a></li>
            </ul>
        </div>
        <div class="col-xl-1 col-lg-2 col-md-1 log">
            <a routerLink="login">Login</a>
        </div>
        <div class="col-xl-1 col-lg-2 col-md-1 log">
            <button class="btn btn-primary" routerLink="Register">Register</button>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>