.custom-badge {
    color: black;
    padding: 10px;
    background-color: cornflowerblue;
}

.text1 {
    font-size: 15px;
    border-radius: 5px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    overflow-wrap: break-word;
}

.flex-column a {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    text-decoration: none;
    color: darkviolet;
}